<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/fd6b7967-799b-42ec-a2d1-fa8638b183d0/resourceGroups/lab5/providers/Microsoft.Web/sites/ShoppingWebsiteAPI</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://shoppingwebsiteapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>shoppingwebsiteapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ShoppingWebsiteAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ShoppingWebsiteAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>